<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barrybecker4.mapland"
    android:versionCode="11"
    android:versionName="2.16.0" > <!-- Copied from Google Maps Library/AndroidManifest.xml. -->
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <!-- give permission to access the internet and other things -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- access already logged in account so we do not need a separate log in -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/demo_title" >

        <!--
         ** You need to replace the key below with your own key. **
         The example key below will not be accepted because it is not linked to the
         certificate which you will use to sign this application.
         See: https://developers.google.com/maps/documentation/android/start
         for instructions on how to get your own key.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD2r-a6cNhCWTi-huSV_G3LplzLmHKp59A" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.barrybecker4.mapland.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.barrybecker4.mapland.LegalInfoActivity"
            android:label="@string/legal_info" />
        <activity
            android:name=".screens.BasicMapDemoActivity"
            android:label="@string/basic_map_demo_label" />
        <activity
            android:name=".screens.EventsDemoActivity"
            android:label="@string/events_demo_label" />
        <activity
            android:name=".screens.PolygonDemoActivity"
            android:label="@string/polygon_demo_label" />
        <activity
            android:name=".screens.TileCoordinateDemoActivity"
            android:label="@string/tile_coordinate_demo_label" />
    </application>

</manifest>
